body {
    background-color: #f2e5a0;
    font-family: sans-serif;
}
#content-div {
    max-width: 50%;
    background-color: #a64153;
    margin: auto;
    padding: 1em;
    text-align: center;
    border-radius: 3%;
    justify-content: space-around;
}

#submit {
    display: block;
    padding: 0.5rem;
    margin: 1em auto;
    background: #f2e5a0;
    border-radius: 2%;
    box-shadow: 3px 3px 6px;
}

div > div {
    margin: 1rem;
    background: #768fa6;
    color: white;
}

.answer {
    display: block;
    text-align: left;
    margin: 1rem auto;
}